.App {
    max-width: 1620px;
    margin-left: auto;
    margin-right: auto;
}
.card-container {
    display: flex;
    gap: 50px;
    justify-content: center;
    flex-wrap: wrap;
} 
.app_img {
    width: 100%;
}
.filter {
    width: 67%;
    border-radius: 5px;
    color: var(--bachground-cards);
    background-color: white;
}
.error{
    color: white;
    display: flex;
    justify-content: center;
    font-size: 30px;
}
.app_search {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.app_input {   
    width: 68%;
    height: 50px;
    margin: -90px 0px 0px 0px ;
    border-radius: 12px;

}
