/* ---reset----*/
:root {
--background-body: #06292e;
--bachground-cards: #062226;
}

* {
    box-sizing: border-box;
}
body {
    margin: 0;
    background-color: var(--background-body);
}
h1, h2,  h3, h4, p, ul, li {
    margin-top: 0;
    margin-bottom: 0;
}
ul {
    padding-left: 0;
    list-style: none;
}
img {
    display: block;
}
button {
    border: none;
}
input {
    margin: 0 ;
    outline: none;
}
form {
    margin: 0 auto;
}